{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}" />

<div id='container'>
    <div id='header'>
    </div>
    <div id="menu">
        <ul>
            <li><a href="{% url 'index' %}">Strona Główna</a></li>
            <hr />
            <li><a href="{% url 'form' %}">Dodaj wiadomosc</a></li>
        </ul>
    </div>
    <div id="content">
        <form action="{% url 'chatuj' %}" method="post">
            {% csrf_token %}
            <p>
                User: <input type="text" name="user" id="user" />
            </p>
            <p>
                Tresc: <input type="text" name="message" id="message" />
            </p>
            <input type="submit" value="Dodaj" />
        </form>
    </div>
</div>