{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}" />

<div id='container'>
    <div id='header'>
    </div>
    <div id="menu">
        <ul>
            <li><a href="{% url 'index' %}">Strona Główna</a></li>
            <hr />
            <li><a href="{% url 'form' %}">Dodaj wpis</a></li>
        </ul>
    </div>
    <div id="content">
        <form action="{% url 'dodaj' %}" method="post">
            {% csrf_token %}
            <p>
                Tytuł: <input type="text" name="article_title" id="article_title" />
            </p>
            <p>
                Treść: <input type="text" name="article_content" id="article_content" />
            </p>
            <input type="submit" value="Dodaj" />
        </form>
    </div>
</div>