{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}" />

<div id='container'>
    <div id='header'>
    </div>
    <div id="menu">
        <ul>
            <li>User: {{ username }}</li>
            <li><a href="{% url 'index' %}">Strona Główna</a></li>
            <hr />
            {% if logged %}
                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            {% else %}
                <li><a href="{% url 'form' %}">Zaloguj</a></li>
            {% endif %}
        </ul>
        <hr />
        Zalogowani:
        {% for user in user_list %}
        <ul>
            <li style="list-style: disc;margin-left: 10px">
                <span style="font-style: italic">{{ user }}</span>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div id="content">
        {{ info }}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <p>
                Użytkownik: <input type="text" name="user_name" id="user_name" />
            </p>
            <input type="submit" value="Zaloguj" />
        </form>
    </div>
</div>