{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}" />

<div id="messages">
{% if latest_tweet_list %}
    <ul>
    {% for msg in latest_tweet_list %}
        <li>
            <hr>
            <span class="time">{{ msg.pub_date }}</span>
            <span class="user">Użytkownik: </span><span style="font-style: italic">{{ msg.user_name }}</span></br>
            <span class="message">{{ msg.message }}</span>
            <hr />
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Niestety nie ma jeszcze żadnych wiadomości :(</p>
{% endif %}
</div>